<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>ABC</title>
        </head>
        <body>
            <ul>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Signup</a></li>
                <li><a href="/">Home</a></li>
            </ul>
            <h1>HOMEPAGE</h1>
        </body>

    </html>
