<!DOCTYPE html>
    <html lang="en">
        <head></head>
        <body>
            <ul>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Signup</a></li>
                <li><a href="/">Home</a></li>
            </ul>
            <form method="POST" action="/users/login">
                <input type="text" name="username" placeholder="Enter username"><br>
                <input type="password" name="password" placeholder="Enter password"><br><br>
                <input  type="submit" value="Login">

            </form>

        </body>


    </html>