<!DOCTYPE html>
    <html lang="en">
        <head></head>
        <body>
            <ul>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Signup</a></li>
                <li><a href="/">Home</a></li>
            </ul>
            <form method="POST" action="/users/register">
                <input type="text" name="username" placeholder="Enter your username."><br>
                <input type="email" name="email" placeholder="Enter your e-mail."><br>
                <input type="password" name="password" placeholder="Enter your password."><br><br>
                <input type="submit" value="Register">
            </form>
        </body>

    </html>